%html
  %body
    .form{:style => 'margin-top: 20; margin-left: 10;'}
      %form{:action => 'http://localhost:6600/update', :method => 'POST'}
        %textarea{:name => 'message' }
          there I was in this hallway, right.
        %br
        %input{:name => 'user', :size => 16, :value => 'bob'}
        %input{:type => 'submit', :value => 'mm!'}
